<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estado de conexión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    @if (networkService.isOnline()) {
      <div class="network-status online">
        <h2>Conectado</h2>
        <p>El dispositivo tiene conexión a la red.</p>
      </div>
    } @else {
      <div class="network-status offline">
        <h2>Sin conexión</h2>
        <p>El dispositivo se encuentra sin conexión a la red.</p>
      </div>
    }

  </div>
</ion-content>